*{
  margin: 0;
  padding: 0;
}
body{
  height: flex;
  justify-content: center;
  align-items: center;
}
.middle{
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap{
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
}
.content-wrap{
  height: 80%;
  background-color: #000;
  color: #fff;
}
.like-wrap{
  height: 20%;
  font-size: 20px;
  color:#ccc;
}
.like-active{
  color: red;
}
.like{
  position: absolute;
  color: #ccc;
  font-size: 20px;
}
